<%- include('header'); -%>

        <div class="box"><h1><%= fromServer %></h1></div>
        <div class="box"> 
            <% newListItems.forEach(item => { %>
                <form action="/delete" method="post">
                    <div class="content">
                        <div class="main-content">
                            <input type="checkbox" name="checkBox" value="<%= item._id %>" class="myCheckbox" onchange="this.form.submit()">
                            <p><%= item.name %></p>
                        </div>
                        <div class="action-button">
                            <button class="edit-btn" >Edit</button>
                            <button class="del-btn" >Del</button>
                        </div>
                    </div>
                    <input type="hidden" name="listTitle" value="<%= fromServer %>"> </input>
                </form>
                
            <% }); %>
            
            <form action="/" method="post">
                <input type="text" class="input-text" name="newItem" placeholder="add item" autocomplete="off">
                <button class="btn-add" type="submit" name="newTitle" value=<%= fromServer %>>+</button>
            </form>
      </div>
      
      <script src="/index.js"></script>
<%- include('footer'); -%>