<%- include('header'); -%>

        <div class="box"><h1><%= fromServer %></h1></div>
        <div class="box"> 
            <% newListItems.forEach(element => { %>
                <div class="content">
                    <input type="checkbox">
                    <p><%= element.name %></p>
                </div>
            <% }); %>
            
            <form method="post">
                <input type="text" class="input-text" name="newItem" placeholder="add item" autocomplete="off">
                <button type="submit" name="newTitle" value=<%= fromServer %>>+</button>
            </form>
      </div>
      

<%- include('footer'); -%>